# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Uploaded Files
uploads/

# PDF Files
*.pdf

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db